*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(./hiroyoshi-urushima-vfRkE_9wuPo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}