*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/vadim-sherbakov-d6ebY-faOO0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1 !important;
}
.header h1{
    color:white;
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
}
.heading p{
    color:white;
    font-weight: 800;
}
.tadbirlar{
    text-align: center;
    padding-top: 100px;
}
.tadbirCard{
    width: 350px;
    height: 500px;
    margin:30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    background-color: white;
}
.video{
    text-align: center;
    padding-top: 80px;
}
.new{
    width: 100%;
    height: 60px;
    display: flex;
    font-size: 16px;
    color: #666A6F;
    margin-bottom: 20px;
}
.new p{
    cursor: pointer;
    transition: 0.3s;
}
.new p:hover{
    color: #1EB2A6;
}
.new_img{
    width: 22%;
    height: 100%;
    transform: translate(0, 15%)
}
.new_img img{
    border-radius: 5px;
    width: 80%;
    height: 85%;
    object-fit: cover;
}
.new_text{
    width: 78%;
}
.video h2{
    display: inline-block;
    position: relative;
}
.video h2::after{
    content: '';
    position: absolute;
    top: 140%;
    left: 25%;
    width: 50%;
    height: 3px;
    background-color:#1EB2A6
}
.tadbirlar h2{
    display: inline-block;
    position: relative;
}
.tadbirlar h2::after{
    content: '';
    position: absolute;
    top: 140%;
    left: 25%;
    width: 50%;
    height: 3px;
    background-color:#1EB2A6
}
.loader{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100vh;
    background-color: white;
}
@media screen and (max-width:400px) {
    .heading{
    width: 90%;
    }
    .heading p{
        z-index: 1 !important; 
    }
    .tadbirCard{
        width: 95% !important;
        margin:5% !important;
    }

}
@media screen and (max-width:768px) {
    .heading{
    width: 90%;
    }
    .heading p{
        z-index: 1 !important; 
    }
    .tadbirCard{
        width: 95% !important;
        margin:5% !important;
    }

}
@media screen and (max-width:992px) {
    .heading{
    width: 90%;
    }
    .heading p{
        z-index: 1 !important; 
    }
    .tadbirCard{
        width: 95% !important;
        margin:5% !important;
    }

}
@media screen and (max-width:1200px) {
    .heading{
    width: 350px;
    }
    .heading p{
        z-index: 1 !important; 
    }
    .tadbirCard{
        width: 98% !important;
        margin:20px !important;
    }
    .tadbirlar{
        margin-bottom: 100px !important;
    }

}